@model StudentGeneralInfo
@{
    ViewData["Title"] = "Cabinet";
}

<h1>Cabinet</h1>
<br>
<h1>Ваша информация</h1>
@using (Html.BeginForm("UpdateInfo", "Account", FormMethod.Post))
{
    <input type="hidden" value="@ViewBag.ID" name="ID" />
    <p>Имя студента: </p>
    @Html.TextBox("Name")
    <p><input type="submit" value="Обновить" /></p>
}
@Html.EditorForModel(Model)