@model StudentModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<UserApp> userManager

@{
    ViewData["Title"] = "Cabinet";
}

<div class="alert alert-primary" role="alert">
    <h1>Привет, @User.Identity.Name</h1>
</div>
