@model StudentModel 
@using Microsoft.AspNetCore.Identity;
@inject UserManager<UserApp> userManager

@{
    ViewData["Title"] = "Cabinet";
}

<div class="alert alert-danger" role="alert">
    Вы сейчас редактируете студента
</div>

<br>

<form asp-action="EditStudentModel" asp-controller="Student">
    <input type="hidden" value="@Model.ID" name="ID" />
    <div class="form-floating mb-3">
        <label asp-for="Subject" class="control-label">Предмет</label>
        <input type="text" asp-for="Subject" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Teacher" class="control-label">Учитель(ФИО)</label>
        <input type="text" asp-for="Teacher" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Credits" class="control-label">Credits</label>
        <input type="text" asp-for="Credits" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Hours" class="control-label">Часы</label>
        <input type="number" asp-for="Hours" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Assessment" class="control-label">Оценка</label>
        <input type="number" asp-for="Assessment" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Assessment_EKTC" class="control-label">EKTC</label>
        <input type="text" asp-for="Assessment_EKTC" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Note" class="control-label">Дополнительно</label>
        <input type="text" asp-for="Note" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </div>
</form>
