@{
    ViewBag.Title = "Все роли";
}

<h1>Все роли</h1>

<a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
    asp-controller="role">Добавить новую роль</a>

@foreach (var role in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            Id Роли : @role.Id
        </div>
        <div class="card-body">
            <h5 class="card-title">@role.Name</h5>
        </div>
        <div class="card-footer">
            <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Редактировать</a>
            <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Удалить</a>
        </div>
    </div>
}